.home {
	color: white;
}

.intro {
	text-align: center;
	margin-top: 315px;
	font-size: 27px;
	text-shadow:
		-1px -1px 0 rgb(55,30,113),
		1px -1px 0 rgb(55,30,113),
		-1px 1px 0 rgb(55,30,113),
		1px 1px 0 rgb(55,30,113);
}

.jobTitle {
	text-align: center;
	font-size: 62px;
	margin-top: 20px;
	font-family: 'Playfair Display', serif;
	text-shadow:
		-1px -1px 0 rgb(55,30,113),
		1px -1px 0 rgb(55,30,113),
		-1px 1px 0 rgb(55,30,113),
		1px 1px 0 rgb(55,30,113);
}
.jobTitle2 {
	text-align: center;
	font-size: 62px;
	margin-top: -16px;
	font-family: 'Playfair Display', serif;
	text-shadow:
		-1px -1px 0 rgb(55,30,113),
		1px -1px 0 rgb(55,30,113),
		-1px 1px 0 rgb(55,30,113),
		1px 1px 0 rgb(55,30,113);
}

.heroImage {
    background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542591399/lavender.jpg);
    height: 743px;
    width: -webkit-fill-available;
    z-index: -1;
    position: absolute;
    top: 77px;
    background-size: cover;
    opacity: .9;
}

.space {
	background-color: rgb(232,223,255, .5);
	margin-top: 183px;
}

.lavender {
	height: 40px;
}

.portfolio {
	text-align: center;
	margin-top: 20px;
	background-color: white;
	border-radius: 5px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 36px 30px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.portfolioTitle {
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	color: rgb(55,30,113);
	font-family: 'Playfair Display', serif;
}


.grid {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.project {
	height: 200px;
	width: 200px;
	margin: 40px 30px;
	margin-bottom: 10px;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	transition: scale 1s;
}

.project:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.projectTitle {
	margin-top: 50%;
	margin-bottom: 50%;
	color: transparent;
/*	text-shadow:
	-.5px -.5px 0 black,
	.5px -.5px 0 black,
	-.5px .5px 0 black,
	.5px .5px 0 black;*/
}

.projectTitleShown{
	font-family:;
}

.projectContainer{
	display: flex;
	flex-direction: column;
	color: rgb(55,30,113);
	font-family: 'header medium';
	font-size: 20px;
	text-decoration: none;
}

.project1 {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481447/Screen_Shot_2018-11-17_at_1.56.16_PM.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.project2 {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481539/Screen_Shot_2018-11-17_at_1.56.54_PM.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.project3Home {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1544733479/Screen_Shot_2018-12-13_at_3.37.47_PM.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.project4 {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481645/Screen_Shot_2018-11-17_at_1.59.01_PM.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.project5 {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481182/Screen_Shot_2018-11-17_at_1.59.28_PM.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

.skills {
	text-align: center;
	margin: 50px auto 0 auto;
	background-color: white;
	border-radius: 5px;
	width: 80%;
	padding: 36px 30px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.skillsTitle {
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	color: rgb(55,30,113);
	font-family: 'Playfair Display', serif;
}

.skill {
	margin: 50px;
}

.icon {
	width: 75px;
	height: 75px;
}

.skillsIconTitle {
	font-size: 20px;
	margin-top: 7px;
	color: rgb(55,30,113);
	font-family: 'header';
}


@media screen and (min-height: 320px) {
	.heroImage {
	    background-size: 267%;
	    height: 512px;
	    width: -webkit-fill-available;
	    z-index: -1;
	    position: absolute;
	    top: 56px;
	    background-repeat: no-repeat;
	    opacity: .9;
	}
	.intro {
		text-align: center;
		margin-top: 203px;
		font-size: 19px;
		padding: 0 20px;
	}
	.jobTitle {
		text-align: center;
		font-size: 40px;
		margin-top: 2px;
		font-family: 'Playfair Display', serif;
	}
	.jobTitle2 {
		text-align: center;
		font-size: 40px;
		margin-top: -10px;
		font-family: 'Playfair Display', serif;
	}
	.space {
		margin-top: 197px;
	}

	.lavender {
		height: 11px;
	}

	.portfolio, .skills {
		text-align: center;
		margin-top: 20px;
		background-color: white;
		border-radius: 5px;
		width: 90%;
		padding: 5px;
	}

	.portfolioTitle, .skillsTitle {
		font-size: 30px;
		text-align: center;
		margin-top: 10px;
	}

	.grid {
		display: flex;
		margin-top: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.project {
		height: 80px;
		width: 80px;
		margin: 5px;
		margin-bottom: 10px;
		text-decoration: none;
		color: white;
		border-radius: 5px;
	}

	.projectTitle {
		margin-top: 50%;
		margin-bottom: 50%;
		color: transparent;
	}
	.projectTitleShown{
		width: 90px;
		text-align: center;
	}

	.projectContainer{
		font-size: 15px;
		align-items: center;
		margin: 10px 20px;
	}

	.skill {
		margin: 11px;
	}

	.icon {
		width: 43px;
		height: 43px;
	}

	.skillsIconTitle {
		font-size: 14px;
	}
}

@media screen and (min-width: 375px) {
	.heroImage {
	    background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542591399/lavender.jpg);
	    background-size: 324%;
	    width: -webkit-fill-available;
	    height: 812px;
	    z-index: -1;
	    position: absolute;
	    top: 56px;
	    background-repeat: no-repeat;
	    opacity: .9;
	}

	.intro {
		margin-top: 285px;
		font-size: 23px;
		padding: 0 20px;
	}
	.jobTitle {
		font-size: 45px;
		margin-top: 16px;
	}
	.jobTitle2 {
		font-size: 45px;
		margin-top: -10px;
	}
	.space {
		margin-top: 322px;
	}

	.lavender {
		height: 11px;
	}

	.portfolio {
		text-align: center;
		margin-top: 20px;
		background-color: white;
		border-radius: 5px;
		width: 93%;
		padding: 5px 5px;
	}

	.skills {
		text-align: center;
		margin-top: 35px;
		background-color: white;
		border-radius: 5px;
		width: 93%;
		padding: 5px 5px;
	}

	.portfolioTitle, .skillsTitle {
		font-size: 37px;
		text-align: center;
		margin-top: 10px;
	}

	.grid {
		display: flex;
		margin-top: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.project {
		height: 115px;
		width: 115px;
		margin: 5px;
		margin-bottom: 10px;
		text-decoration: none;
		color: white;
		border-radius: 5px;
	}

	.projectTitle {
		margin-top: 50%;
		margin-bottom: 50%;
		color: transparent;
	}
	.projectTitleShown{
		width: 100px;
		text-align: center;
		font-size: 17.5px;
	}

	.projectContainer{
		font-size: 15px;
		align-items: center;
		margin: 10px 20px;
	}

	.skill {
		margin: 17px;
	}

	.icon {
		width: 67px;
		height: 67px;
	}

	.skillsIconTitle {
		font-size: 17px;
	}
}

@media screen and (min-width: 414px) {
	.heroImage {
	    background-size: 263%;
	    height: 680px;
	}

	.intro {
		margin-top: 260px;
		font-size: 25px;
		padding: 0 20px;
	}
	.jobTitle {
		font-size: 42px;
		margin-top: 16px;
	}
	.jobTitle2 {
		font-size: 42px;
		margin-top: -10px;
	}
	.space {
		margin-top: 269px;
	}

	.lavender {
		height: 11px;
	}

	.portfolio, .skills {
		text-align: center;
		margin-top: 20px;
		background-color: white;
		border-radius: 5px;
		width: 90%;
		padding: 5px 5px;
	}

	.portfolioTitle, .skillsTitle {
		font-size: 38px;
		text-align: center;
		margin-top: 10px;
	}

	.grid {
		display: flex;
		margin-top: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.project {
		height: 130px;
		width: 130px;
		margin: 5px;
		margin-bottom: 10px;
		text-decoration: none;
		color: white;
		border-radius: 5px;
	}

	.projectTitle {
		margin-top: 50%;
		margin-bottom: 50%;
		color: transparent;
	}
	.projectTitleShown{
		width: 130px;
		text-align: center;
		font-size: 18px;
	}

	.projectContainer{
		font-size: 15px;
		align-items: center;
		margin: 10px 20px;
	}

	.skill {
		margin: 17px;
	}

	.icon {
		width: 70px;
		height: 70px;
	}

	.skillsIconTitle {
		font-size: 17px;
	}
}

@media screen and (min-width: 895px) {
	.home {
		color: white;
	}

	.intro {
		text-align: center;
		margin-top: 358px;
		font-size: 27px;
		text-shadow:
			-1px -1px 0 rgb(55,30,113),
			1px -1px 0 rgb(55,30,113),
			-1px 1px 0 rgb(55,30,113),
			1px 1px 0 rgb(55,30,113);
	}

	.jobTitle {
		text-align: center;
		font-size: 62px;
		margin-top: 20px;
		font-family: 'Playfair Display', serif;
		text-shadow:
			-1px -1px 0 rgb(55,30,113),
			1px -1px 0 rgb(55,30,113),
			-1px 1px 0 rgb(55,30,113),
			1px 1px 0 rgb(55,30,113);
	}
	.jobTitle2 {
		text-align: center;
		font-size: 62px;
		margin-top: -16px;
		font-family: 'Playfair Display', serif;
		text-shadow:
			-1px -1px 0 rgb(55,30,113),
			1px -1px 0 rgb(55,30,113),
			-1px 1px 0 rgb(55,30,113),
			1px 1px 0 rgb(55,30,113);
	}

	.heroImage {
	    background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542591399/lavender.jpg);
	    height: 663px;
	    width: -webkit-fill-available;
	    z-index: -1;
	    position: absolute;
	    top: 77px;
	    background-size: cover;
	    opacity: .9;
	}

	.space {
		background-color: rgb(232,223,255, .5);
		margin-top: 153px;
	}

	.lavender {
		height: 40px;
	}

	.portfolio {
		text-align: center;
		margin-top: 20px;
		background-color: white;
		border-radius: 5px;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		padding: 36px 30px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	}

	.portfolioTitle {
		font-size: 40px;
		text-align: center;
		margin-top: 10px;
		color: rgb(55,30,113);
		font-family: 'Playfair Display', serif;
	}


	.grid {
		display: flex;
		margin-top: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.project {
		height: 200px;
		width: 200px;
		margin: 40px 30px;
		margin-bottom: 10px;
		text-decoration: none;
		color: white;
		border-radius: 5px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
		transition: scale 1s;
	}

	.project:hover {
	  transform: scale(1.05);
	  text-decoration: none;
	}

	.projectTitle {
		margin-top: 50%;
		margin-bottom: 50%;
		color: transparent;
	/*	text-shadow:
		-.5px -.5px 0 black,
		.5px -.5px 0 black,
		-.5px .5px 0 black,
		.5px .5px 0 black;*/
	}

	.projectTitleShown{
		font-family:;
	}

	.projectContainer{
		display: flex;
		flex-direction: column;
		color: rgb(55,30,113);
		font-family: 'header medium';
		font-size: 20px;
		text-decoration: none;
	}

	.project1 {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481447/Screen_Shot_2018-11-17_at_1.56.16_PM.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.project2 {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481539/Screen_Shot_2018-11-17_at_1.56.54_PM.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}

	.project3Home {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1544733479/Screen_Shot_2018-12-13_at_3.37.47_PM.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.project4 {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481645/Screen_Shot_2018-11-17_at_1.59.01_PM.png);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.project5 {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1542481182/Screen_Shot_2018-11-17_at_1.59.28_PM.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}

	.skills {
		text-align: center;
		margin: 50px auto 0 auto;
		background-color: white;
		border-radius: 5px;
		width: 80%;
		padding: 36px 30px;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	}

	.skillsTitle {
		font-size: 40px;
		text-align: center;
		margin-top: 20px;
		color: rgb(55,30,113);
		font-family: 'Playfair Display', serif;
	}

	.skill {
		margin: 50px;
	}

	.icon {
		width: 75px;
		height: 75px;
	}

	.skillsIconTitle {
		font-size: 20px;
		margin-top: 7px;
		color: rgb(55,30,113);
		font-family: 'header';
	}
}



