nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 25px 20px 25px;
	font-family: 'header', sans-serif;
	background-color: rgb(55,30,113);
	color: white;
}

.link {
	text-decoration: none;
	color: white;
	font-size: 17px;
	transition: text-decoration 1s;
}

.nameTitle {
	font-size: 35px;
}

.routeLinks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 50%;
    align-items: center;
}

.link:hover {
	color: white;
  	text-decoration: underline;
}

@media screen and (min-width: 320px) {
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 12px;
		font-family: 'header', sans-serif;
		background-color: rgb(55,30,113);
		color: white;
		width: 100%;
		align-items: center;
	}

	.link {
		text-decoration: none;
		color: white;
		font-size: 10px;
		transition: text-decoration 1s;
	}

	.nameTitle {
		font-size: 20px;
		text-align: center;
	}

	.routeLinks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    width: 75%;
	}

	.link:hover {
	  text-decoration: underline;
	}

	.dropButton{
		margin-right: 2%;
	}

	.dropToggle {
		background-color: rgb(55,30,113) !important;
		border-color: white !important;
		border-radius: 30px !important;
		font-size: 12px !important;
	}

	.dropDownMenu{
		min-width: 5rem !important;
		font-size: 20px !important;
		left: -36% !important;
		text-align: center !important;
	}
	.dropdown-item{
		padding: .35rem 1rem !important;
	}

	.smallLink {
		color: rgb(55,30,113) !important;
	}
}

@media screen and (min-width: 375px) {
	nav {
		padding: 17px 15px;
	}

	.link {
		text-decoration: none;
		color: white;
		font-size: 10px;
		transition: text-decoration 1s;
	}

	.nameTitle {
		font-size: 23px;
		text-align: center;
	}

	.routeLinks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    width: 75%;
	}

	.link:hover {
	  text-decoration: underline;
	}

	.dropButton{
		margin-right: 1%;
	}

	.dropToggle {
		background-color: rgb(55,30,113) !important;
		border-color: white !important;
		border-radius: 30px !important;
		font-size: 15px !important;
	}

	.dropDownMenu{
		min-width: 5rem !important;
		font-size: 20px !important;
		left: -25% !important;
		text-align: center !important;
	}
	.dropdown-item{
		padding: .35rem 1rem !important;
	}

	.smallLink {
		color: rgb(55,30,113) !important;
	}
}

@media screen and (min-width: 414px) {
	nav {
		padding: 17px 15px;
	}

	.link {
		text-decoration: none;
		color: white;
		font-size: 10px;
		transition: text-decoration 1s;
	}

	.nameTitle {
		font-size: 25px;
		text-align: center;
	}

	.routeLinks {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    width: 75%;
	}

	.link:hover {
	  text-decoration: underline;
	}

	.dropButton{
		margin-right: 1%;
	}

	.dropToggle {
		background-color: rgb(55,30,113) !important;
		border-color: white !important;
		border-radius: 30px !important;
		font-size: 16px !important;
	}

	.dropDownMenu{
		min-width: 5rem !important;
		font-size: 20px !important;
		left: -22% !important;
		text-align: center !important;
	}
	.dropdown-item{
		padding: .35rem 1rem !important;
	}

	.smallLink {
		color: rgb(55,30,113) !important;
	}
}

