.background {
	background-color: rgb(232,223,255, .5);
	padding-top: 30px;
}

.portfolioInfo {
	background-color: white;
	border-radius: 5px;
	width: 80%;
	margin: 100px auto 0 auto;
	padding: 36px 50px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.portfolioPageTitle {
	color: rgb(55,30,113);
	text-align: center;
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}

.portfolioProject1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
	align-items: center;
}

.portfolioProject {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
	align-items: center;
}

.projectPic {
	height: 300px;
	width: 400px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}

.projectDescription {
	text-align: center;
	width: 400px;
	color: rgb(55,30,113);
	margin-top: auto;
	margin-bottom: auto;
}

.project3 {
	width: 175px;
	height: 300px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.projectDisneyDates {
	width: 175px;
	height: 300px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.projectTitles {
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	color: rgb(55,30,113);
	text-shadow:
		-.4px -.4px 0 #dbccfd, 
		.4px -.4px 0 #dbccfd,
		-.4px .4px 0 #dbccfd,
		.4px .4px 0 #dbccfd;
}

.projectInformation {
	margin-Top: 15px;
	margin-bottom: 15px;
	font-size: 19px;
	color: rgb(144, 121, 198, .9);
	font-family: 'header medium';
}

.linkBox {
	margin-top: 45px;
}

.gitLink {
	text-decoration: none;
	margin-top: 10px;
	padding: 10px 30px;
	color: white;
	background-color: rgb(55,30,113);
	border-radius: 20px;
	transition: text-decoration 1s;
}

.gitLink:hover{
	text-decoration: underline;
	color: white;

}

@media screen and (min-width: 320px) {
	.background {
		padding-top: 14px;
	}

	.portfolioInfo {
		width: 90%;
		margin-top: 10px;
		padding: 5px 5px 40px 5px;
		margin-top: 75px;
	}

	.portfolioPageTitle {
		font-size: 30px;
		margin-top: 10px;
	}

	.portfolioProject1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}

	.portfolioProject {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 45px;
		align-items: center;
	}

	.projectPic {
		height: 150px;
		width: 200px;
	}

	.projectDescription {
		width: 90%;
	}

	.project3 {
		width: 100px;
		height: 200px;
	}

	.projectDisneyDates {
		width: 100px;
		height: 200px;
	}

	.doublePictureContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 90%;
	}

	.projectTitles {
		margin-top: 18px;
		font-size: 15px;
	}

	.projectInformation {
		margin-Top: 15px;
		margin-bottom: 15px;
		font-size: 13px;
	}

	.linkBox {
		margin-top: 20px;
	}

	.gitLink {
	    margin-top: 10px;
	    padding: 8px 15px;
	    color: white;
	    font-size: 13px;
	}

	.gitLink:hover{
		text-decoration: underline;
		color: white;

	}

	.linkBoxLast {
		margin-top: 20px;
		margin-bottom: 30px;
	}

}

@media screen and (min-width: 375px) {
	.portfolioPageTitle {
		font-size: 37px;
	}

	.portfolioProject1 {
		margin-top: 30px;
	}

	.portfolioProject {
		margin-top: 60px;
	}

	.portfolioInfo {
		margin-top: 85px;
	}

	.projectPic {
		height: 200px;
		width: 250px;
	}

	.projectDescription {
		width: 90%;
	}

	.project3, .projectDisneyDates {
		width: 125px;
		height: 240px;
	}

	.doublePictureContainer{
		width: 86%;
	}

	.projectTitles {
		margin-top: 26px;
		font-size: 18px;
	}

	.projectInformation {
		margin-Top: 15px;
		margin-bottom: 15px;
		font-size: 16px;
	}

	.linkBox {
		margin-top: 25px;
	}

	.gitLink {
	    padding: 10px 17px;
	    font-size: 16px;
	}
	
	.linkBoxLast {
		margin-top: 25px;
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 414px) {
	.doublePictureContainer {
    	width: 80%;
	}

	.portfolioInfo {
	    margin-top: 110px;
	}
}

@media screen and (min-width: 600px) {
	.portfolioPageTitle {
		font-size: 37px;
		margin-top: 25px;
	}

	.portfolioProject1 {
		margin-top: 45px;
	}

	.portfolioProject {
		margin-top: 90px;
		margin-bottom: 30px;
	}

	.portfolioInfo {
		margin-top: 110px;
	}

	.projectPic {
		height: 250px;
    	width: 340px;
	}

	.projectTitles {
	    margin-top: 35px;
	}

	.projectDescription {
		width: 80%;
	}

	.project3, .projectDisneyDates {
    	width: 150px;
    	height: 285px;
	}

	.doublePictureContainer{
		width: 86%;
	}

	.linkBox {
		margin-top: 35px;
	}

	.doublePictureContainer {
	    justify-content: space-around;
	}

}

@media screen and (min-width: 700px) {

	.projectInformation {
	    font-size: 17px;
	}

	.projectPic {
		height: 300px;
    	width: 440px;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 22px;
	}

	.projectDescription {
		width: 80%;
	}

	.project3, .projectDisneyDates {
		width: 175px;
    	height: 310px;
	}

}

@media screen and (min-width: 801px) {

	.portfolioInfo {
		background-color: white;
		border-radius: 5px;
		width: 90%;
		margin: 100px auto 0 auto;
		padding: 36px 27px 60px 27px;
	}

	.portfolioPageTitle {
		font-size: 40px;
	}

	.portfolioProject1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 40px;
		align-items: center;
	}

	.portfolioProject {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 80px;
		align-items: center;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 18px;
	}

	.projectPic {
		height: 230px;
    	width: 320px;
	}

	.project3, .projectDisneyDates {
	    width: 135px;
	    height: 250px;
	}

	.projectDescription {
		text-align: center;
		width: 47%;
	}


	.projectInformation {
		font-size: 16px;
	}

}	

@media screen and (min-width: 900px) {

	.portfolioInfo {
		padding: 36px 40px 60px 40px;
	}

	.portfolioPageTitle {
		font-size: 40px;
	}

	.portfolioProject1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 40px;
		align-items: center;
	}

	.portfolioProject {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 80px;
		align-items: center;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 18px;
	}

	.projectPic {
		height: 275px;
    	width: 375px;
	}

	.project3, .projectDisneyDates {
	    width: 150px;
    	height: 280px;
	}
}	

@media screen and (min-width: 1050px) {

	.portfolioInfo {
		padding: 36px 70px 60px 70px;
	}

	.portfolioPageTitle {
		font-size: 40px;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 22px;
	}

	.projectInformation {
	    font-size: 16px;
	}

	.portfolioProject1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 40px;
		align-items: center;
	}

	.portfolioProject {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 80px;
		align-items: center;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 18px;
	}

	.projectPic {
		height: 300px;
    	width: 440px;
	}

	.project3, .projectDisneyDates {
	    width: 175px;
    	height: 310px;
	}
}	

@media screen and (min-width: 1050px) {

	.portfolioPageTitle {
		font-size: 40px;
	}

	.projectInformation {
	    font-size: 16px;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 20px;
	}

	.projectPic {
		height: 300px;
    	width: 440px;
	}

	.project3, .projectDisneyDates {
	    width: 175px;
    	height: 310px;
	}
}	

@media screen and (min-width: 1290px) {

	.portfolioPageTitle {
		font-size: 40px;
	}

	.projectInformation {
	    font-size: 18px;
	    margin-top: 30px;
	}

	.projectTitles {
	    margin-top: 40px;
	    font-size: 20px;
	}

	.projectPic {
		height: 350px;
    	width: 505px;
	}

	.project3, .projectDisneyDates {
	    width: 210px;
    	height: 375px;
	}

	.linkBox {
	    margin-top: 45px;
	}
}	
